# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Models & large files
*.h5
*.keras
*.pt

# Data (optional - recommended)
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db
